POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db
POSTGRES_HOST=postgres_host
POSTGRES_PORT=postgres_port

AUTH_USERNAME=user_admin
AUTH_PASSWORD=senha_admin

MQTT_HOST=mosquitto
MQTT_PORT=1883
